/CheckSorting.class
/CloningAndCopyOfAnArray.class
/ElementGreaterThanANumber.class
/FirstRepeatingValue.class
/MaxElementInArray.class
/MaxMinArray.class
/OccuranceOfElement.class
/SearchAElement.class
/SecondMaximum.class
/SumOfElements.class
/TargetSum.class
/TripletTargerSum.class
/UniqueValue.class
