/Builder.class
/Equals.class
/Interning.class
/Palindrome.class
/PalindromicSubstring.class
/Performance.class
/PrintAllSubstrings.class
/ReverseWordInSentence.class
/StringBasics.class
/StringCompression.class
/StringIntChar.class
/SubSTR.class
/ToggleChar.class
/ToggleString.class
