/EqualSumOfSubArray.class
/PrefixSum.class
/PrefixSumInARange.class
/PresentQuery.class
/ReverseArray.class
/RotateArray.class
/Sort1sAnd0s.class
/SortOddsAndEvens.class
/SortedSquareArray.class
/SwapTwoNumbers.class
