/FourDirectionsMazePath.class
/MazePath.class
/NQueens.class
/PrintPath.class
/PrintPermutation.class
/PrintPermutationsOfAnArray.class
/RatInADeadMaze.class
/RatInADeadMazeFourDirections.class
/RatMazeOptimized.class
/KnightTourConfiguration.class
/MaxKnightsInNxMBoard.class
/ValidSudoku.class
/SudokuSolver.class
